# SITE CONFIGURATION
baseurl: ""
url: "https://goofcode.github.io"
title: Goofcode's Blog # site's title
description: "Computer Engeering, Technical Translation" # used by search engines
permalink: /:title

# default settings
defaults:
  - 
    scope:
      path: "_posts"
    values:
      layout: "post"
      comments: "true"



# THEME-SPECIFIC CONFIGURATION
theme_settings:
  # Meta
  title: Goofcode's blog # blog's title
  avatar: assets/img/avatar.jpeg
  favicon: assets/favicon.ico
  gravatar: # Email MD5 hash

  # Header and footer text
  header_text: > #two or three lines to describe your site
     <p> Success is not final, failure is not fatal:<br/>
     it is the courage to continue that counts.<br/><br/>
     개발에 관련된 이야기를 합니다.</p>
  header_text_feature_image: assets/img/pexels/triangular.jpeg
  footer_text: >
   Powered by <a href="https://jekyllrb.com/">Jekyll</a> with <a href="https://github.com/sylhare/Type-on-Strap">Type on Strap</a>

  # Icons
  rss: false  # Make sure you created a feed.xml with feed.xml layout
  email_address: goofcode@gmail.com # Full email address, e.g. "sam@example.com"
  behance:
  bitbucket:
  dribbble:
  facebook:
  flickr:
  gitlab:
  github: "goofcode"
  google_plus:
  instagram:
  keybase:
  linkedin: https://www.linkedin.com/in/mookeun-ji-b35b2b16b/ # Full URL
  pinterest:
  reddit:
  soundcloud:
  stack_exchange:  # Full URL
  steam:
  tumblr:
  twitter: # "twitter username"
  vimeo:
  wordpress:
  youtube:
  
  # Sharing options
  share_buttons:
    facebook: true
    twitter: true
    google_plus: true
    tumblr:
    pinterest:
    pocket:
    reddit: true
    linkedin:
    wordpress:
    email: true

  # Scripts / Features 
  google_analytics: UA-127194328-1 # Tracking ID, e.g. "UA-000000-01"
  disqus_shortname: goofcode-github-io
  katex: true # Enable if using math markup
  
  special_page:
    search: 
      icon: "search"
      enabled: true
    tags:
      icon: "tags"
      enabled: true
  
  # Localization strings
  str_follow_on: "Follow on"
  str_rss_follow: "Follow RSS feed"
  str_share_on: "Share on"
  str_add_to: "Add to"
  str_email: "Email"
  str_tweet: "Tweet"
  str_pin_it: "Pin it"
  str_next_post: "Next post"
  str_previous_post: "Previous post"
  str_next_page: "Next"
  str_previous_page: "Prev"
  str_continue_reading: "Continue reading"
  str_javascript_required_disqus: "Please enable JavaScript to view comments."

  # Colours, typography and padding
  # Open the "_sass > base" folder, and open "_variables.scss"
  google_fonts: "Source+Sans+Pro:400,700,700italic,400italic"

  # Post navigation
  post_navigation: true
  
  
# PAGINATION
paginate: 5
paginate_path: "blog/page:num"


# PORTFOLIO
collections:
  portfolio:
    output: true
    permalink: /:collection/:name


# BUILD SETTINGS
markdown: kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: :compressed
plugins: [jekyll-paginate, jekyll-seo-tag, jekyll-sitemap, jekyll-feed]
#theme: type-on-strap # Uncomment if using the theme as a jekyll theme gem
exclude: ["Gemfile", "Gemfile.lock", "type-on-strap.gemspec", "*.gem", "LICENSE", "README.md", "screenshot.png", "package.json", "node_modules", "gulpfile.js", ".idea/*"]
